# Compiled output
/frontend/pruebas_marzipano/dist
/frontend/pruebas_marzipano/tmp
/frontend/pruebas_marzipano/out-tsc
/frontend/pruebas_marzipano/bazel-out

# Node
/frontend/pruebas_marzipano/node_modules
/frontend/pruebas_marzipano/npm-debug.log
/frontend/pruebas_marzipano/yarn-error.log

# Angular
/frontend/pruebas_marzipano/.angular

# IDEs and editors
/frontend/pruebas_marzipano/.idea/
/frontend/pruebas_marzipano/.project
/frontend/pruebas_marzipano/.classpath
/frontend/pruebas_marzipano/.c9/
*.launch
/frontend/pruebas_marzipano/.settings/
/frontend/pruebas_marzipano/*.sublime-workspace

# Visual Studio Code
/frontend/pruebas_marzipano/.vscode
!/frontend/pruebas_marzipano/.vscode/settings.json
!/frontend/pruebas_marzipano/.vscode/tasks.json
!/frontend/pruebas_marzipano/.vscode/launch.json
!/frontend/pruebas_marzipano/.vscode/extensions.json
/frontend/pruebas_marzipano/.history/*

/backend/node_modules
/backend/package-lock.json