<mi-dialog
  #dialogIniciar
  [header]="'Selecciona paciente'"
  [(visible)]="ModalIniciarExpVisible"
  (save)="crearExperiencia()"
>
  <form [formGroup]="iniciarEscenaForm">
    <mi-select formControlName="idPaciente" [options]="pacientes"></mi-select>
  </form>
</mi-dialog>
<mi-dialog
  #dialogCrear
  [(visible)]="ModalCrearExpVisible"
  [header]="selectedIdEscena ? 'Editar escena' : 'Crear escena'"
  [styleClass]="{ width: '60%', minHeight: '80%' }"
  (save)="onCreateSubmit()"
>
  <modal-crear-escena-content
    *ngIf="ModalCrearExpVisible"
    [id]="selectedIdEscena"
    [formGroup]="crearEscenaForm"
  ></modal-crear-escena-content>
</mi-dialog>
<mi-dialog
  #dialogEliminar
  [(visible)]="ModalEliminarVisible"
  [header]="'Eliminar escena'"
  [onSaveProp]="eliminarEscena.bind(this)"
  [styleClass]="{ width: '20%', minHeight: '25%' }"
>
  <p-message
    severity="warn"
    class="flex mt-0.5 h-full"
    icon="pi pi-exclamation-triangle"
    *ngIf="ModalEliminarVisible"
    >¿Está seguro de que desea eliminar?</p-message
  >
</mi-dialog>
<div class="flex items-center justify-center h-full">
  <mi-tabla [columns]="columns" [data]="escenas" [filterBy]="'titulo'">
    <ng-template #captionTemplate>
      <button
        pButton
        label="Crear escena"
        (click)="showDialogCrearExp(); this.isModalEditar = false"
      >
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
    </ng-template>
    <ng-template #accion1Template let-escena>
      <button
        pButton
        [rounded]="true"
        [text]="true"
        (click)="showDialogIniciarExp(); selectedIdEscena = escena.id"
      >
        <fa-icon [icon]="faCirclePlay" class="text-xl"></fa-icon>
      </button>
    </ng-template>
    <ng-template #accion2Template let-escena>
      <button
        pButton
        [rounded]="true"
        [text]="true"
        severity="warn"
        (click)="
          showDialogCrearExp();
          selectedIdEscena = escena.id;
          this.isModalEditar = true
        "
      >
        <fa-icon [icon]="faPenToSquare"></fa-icon>
      </button>
    </ng-template>
    <ng-template #accion3Template let-escena>
      <button
        pButton
        [rounded]="true"
        [text]="true"
        severity="danger"
        (click)="showDialogEliminarExp(); selectedIdEscena = escena.id"
      >
        <fa-icon [icon]="faTrash"></fa-icon>
      </button>
    </ng-template>
  </mi-tabla>
</div>
