<ion-header>
  <ion-toolbar>
    <ion-title>Captura 360</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="block" (click)="takePhoto()">Tomar foto</ion-button>
  <ion-img *ngIf="photo" [src]="photo"></ion-img>

  <ion-button expand="block" (click)="startTrackingOrientation()"
    >Activar orientación</ion-button
  >
  <ion-button expand="block" color="danger" (click)="stopTrackingOrientation()"
    >Detener orientación</ion-button
  >

  <p *ngIf="heading !== undefined">Orientación actual: {{ heading }}°</p>
</ion-content>
