<mi-dialog #dialogRetos [header]="'Añadir retos'">
  <div class="flex flex-col gap-4">
    <div *ngFor="let reto of retos" class="flex items-center gap-2">
      <input
        pInputText
        type="text"
        placeholder="Escriba el reto"
        class="w-full"
      />
      <button
        pButton
        icon="pi pi-times"
        (click)="removeInput(reto.id)"
        [outlined]="true"
        [rounded]="true"
        severity="danger"
        style="width: 30px; height: 30px; padding: 0"
      ></button>
    </div>
    <button
      pButton
      label="Añadir"
      severity="success"
      (click)="addInput()"
    ></button>
  </div>
</mi-dialog>

<p-fileupload
  id="fileUpload"
  name="fotos"
  [multiple]="true"
  accept="image/*"
  (onSelect)="onFileUpload($event)"
  (onClear)="onClearFiles()"
>
  <ng-template
    #header
    let-files
    let-chooseCallback="chooseCallback"
    let-clearCallback="clearCallback"
    let-uploadCallback="uploadCallback"
  >
    <div class="flex gap-2">
      <p-button
        (onClick)="choose($event, chooseCallback)"
        icon="pi pi-images"
        [rounded]="true"
        [outlined]="true"
      ></p-button>

      <p-button
        (onClick)="clearCallback()"
        icon="pi pi-times"
        [rounded]="true"
        [outlined]="true"
        severity="danger"
        [disabled]="!files || (files.length === 0 && this.files.length === 0)"
      ></p-button>
    </div>
  </ng-template>
  <ng-template
    #content
    let-files
    let-uploadedFiles="uploadedFiles"
    let-removeFileCallback="removeFileCallback"
    let-removeUploadedFileCallback="removeUploadedFileCallback"
  >
    <div class="flex flex-col gap-8 pt-2">
      <div *ngIf="this.files && this.files.length > 0">
        <div class="flex flex-wrap gap-4">
          <div
            *ngFor="let file of this.files; let i = index"
            class="px-6 py-4 rounded-border flex flex-col border border-surface items-center gap-4 justify-between"
          >
            <div class="flex items-center h-full">
              <img
                role="presentation"
                [alt]="file.name"
                [src]="file.objectURL"
                width="100"
                height="50"
                class="rounded-sm"
              />
            </div>
            <div class="flex flex-col gap-4 items-center">
              <input
                pInputText
                type="text"
                placeholder="Titulo"
                [defaultValue]="file.file.name"
                class="font-semibold text-ellipsis max-w-40 whitespace-nowrap overflow-hidden"
              />

              <button
                pButton
                label="Retos"
                severity="success"
                (click)="showDialogRetos()"
              ></button>
              <p-button
                icon="pi pi-times"
                (click)="onFileRemove(file, removeFileCallback)"
                [outlined]="true"
                [rounded]="true"
                severity="danger"
              ></p-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #file></ng-template>
  <ng-template #empty>
    <div
      class="flex items-center justify-center flex-col"
      *ngIf="this.files.length == 0"
    >
      <i
        class="pi pi-cloud-upload !border-2 !rounded-full !p-8 !text-4xl !text-muted-color"
      ></i>
      <p class="mt-6 mb-0">Arrastra y suelta archivos aquí para subirlos.</p>
    </div>
  </ng-template>
</p-fileupload>
