<mi-dialog #dialogIniciar [header]="'Selecciona paciente'">
  <mi-select [options]="this.pacientes || []" [expanded]="true"></mi-select>
</mi-dialog>
<mi-dialog
  #dialogCrear
  [visible]="ModalCrearExpVisible"
  [header]="'Crear escena'"
  [styleClass]="{ width: '80%', minHeight: '80%' }"
>
  <modal-crear-escena-content></modal-crear-escena-content>
</mi-dialog>
<mi-dialog
  #dialogEliminar
  [visible]="ModalEliminarVisible"
  [header]="'Eliminar escena'"
  [styleClass]="{ width: '20%', minHeight: '25%' }"
>
  <p-message
    severity="warn"
    class="flex mt-0.5 h-full"
    icon="pi pi-exclamation-triangle"
    text="¿Está seguro de que desea eliminar?"
  />
</mi-dialog>
<div class="flex items-center justify-center h-full">
  <p-table
    #dt
    [value]="escenas"
    [tableStyle]="{ 'min-width': '50rem' }"
    [globalFilterFields]="['titulo']"
  >
    <ng-template #caption>
      <div class="flex justify-between w-full">
        <p-iconfield iconPosition="left">
          <p-inputicon>
            <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
          </p-inputicon>
          <input
            pInputText
            type="text"
            placeholder="Buscar"
            (input)="dt.filterGlobal($any($event.target).value, 'contains')"
          />
        </p-iconfield>
        <button pButton label="Crear escena" (click)="showDialogCrearExp()">
          <fa-icon [icon]="faPlus"></fa-icon>
        </button>
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th style="width: 5%"></th>
        <th>Titulo</th>
        <th>Fecha de alta</th>
        <th style="width: 5%"></th>
        <th style="width: 5%"></th>
      </tr>
    </ng-template>
    <ng-template #body let-product>
      <tr>
        <td>
          <button
            pButton
            [rounded]="true"
            [text]="true"
            (click)="showDialogIniciarExp()"
          >
            <fa-icon [icon]="faCirclePlay" class="text-xl"></fa-icon>
          </button>
        </td>
        <td>{{ product.titulo }}</td>
        <td>{{ product.fechaAlta }}</td>
        <td>
          <button pButton [rounded]="true" [text]="true" severity="warn">
            <fa-icon [icon]="faPenToSquare"></fa-icon>
          </button>
        </td>
        <td>
          <button
            pButton
            [rounded]="true"
            [text]="true"
            severity="danger"
            (click)="showDialogEliminarExp()"
          >
            <fa-icon [icon]="faTrash"></fa-icon>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
